---
---
@import "{{ site.theme }}";

@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";


section {
    width: 580px;
}

[title~=bio_photo] {
    max-width: 20%;
    margin-right: 15px;
    margin-top: 5px;
    float: left;
}

[title~=home_photo]{
    border-radius: 30px;
    display: inline-block;
    max-width: 250px;
    max-height: 150px;
    width: auto;
    height: auto;
    border: 0.4px solid black;
}

i 
{
    color: black;
}

p {
    color: black;
}

td {
    text-align: center;
}