---
---
@import "{{ site.theme }}";

@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";


main
{
    font-size: 26.5px; 
}

#view{
    padding: 0px 0px 0px 0px;
}
footer {
    bottom: 0px;
    font-size: 9px;
}
nav a, nav p{
    font-size: 11.5px; 
}
header h4
{
    height: 0px; 
}

section {
    width: 65%;
}

[title~=bio_photo] {
    max-width: 20%;
    margin-right: 15px;
    margin-top: 5px;
    float: left;
}

[title~=home_photo]{
    border-radius: 30px;
    display: inline-block;
    max-width: 250px;
    max-height: 150px;
    width: auto;
    height: auto;
    border: 0.4px solid black;
}

i 
{
    color: black;
}

p {
    color: black;
}

td {
    text-align: center;
}

[title~=next]{
float: right;
font-size: 14px; 
}

[title~=previous]{
    float: left;
    font-size: 14px; 
}